<div
  class="picker-container flex flex-col gap-1 cursor-default"
  [ngClass]="{
    'items-end': msg.sender === currentUserUid,
    'items-start': msg.sender !== currentUserUid
  }"
>
  <div
    class="flex items-center gap-5 cursor-default"
    [ngClass]="{
      'flex-row-reverse': msg.sender === currentUserUid
    }"
  >
    <span class="font-bold text-lg cursor-pointer hover:text-[#535AF1]">
      {{ participantsMap[msg.sender].name }}
    </span>
    <span *ngIf="msg.createdAt" class="text-[#686868] font-normal text-sm">
      {{ msg.createdAt.toDate() | date : "HH:mm" }} Uhr
    </span>
  </div>

  <div
    class="p-[15px] text-base cursor-default transition-colors duration-200 max-w-[80%]"
    [ngClass]="
      msg.sender === currentUserUid
        ? 'bg-[#797EF3] text-white rounded-b-[30px] rounded-tl-[30px]'
        : 'bg-[#ECEEFE] text-black rounded-b-[30px] rounded-tr-[30px] group-hover:bg-white'
    "
    (click)="bubbleClick.emit($event)"
    [innerHTML]="formatMessageHtml(msg)"
  ></div>

  <app-reaction-bar
    #bar
    [msg]="msg"
    [currentUserUid]="currentUserUid"
    [participantsMap]="participantsMap"
    [chatId]="chatId"
    [maxVisible]="7"
  ></app-reaction-bar>

  <app-hover-menu
    [msg]="msg"
    [currentUserUid]="currentUserUid"
    [showQuickButtons]="true"
    (quickReaction)="quickReaction.emit({ msg, emoji: $event })"
    (togglePicker)="bar.togglePicker()"
    (toggleOptions)="toggleOptions.emit({ msgId: msg.id!, event: $event })"
    (openEdit)="openEdit.emit({ msg, event: $event })"
  ></app-hover-menu>
</div>
