<div
  class="relative flex items-center w-full max-w-xl mx-6 rounded-full bg-white px-[40px] py-[16px] border border-[#ADB0D9] lg:border-none"
>
  <input
    #searchInput
    type="text"
    [placeholder]="isMobile ? 'Gehe zu...' : 'Devspace durchsuchen'"
    class="flex-grow w-full bg-transparent focus:outline-none text-gray-700 placeholder-gray-400 text-xl"
    (input)="onInputChange($event)"
    (keydown)="onKeydown($event)"
    [value]="searchQuery"
  />
  <img src="assets/img/icons/search.png" alt="" class="size-6" />

  <div
    *ngIf="showPopup && !isMobile"
    class="show-popup-user-list absolute flex flex-col gap-3 left-[20px] top-full -mb-4 p-5 w-[350px] max-h-[467px] overflow-auto bg-white border border-[#ADB0D9] rounded-b-[20px] rounded-tr-[20px] shadow-[0px_2px_10px_0px_#00000014] z-20"
  >
    <!-- user mention list -->
    <div *ngIf="filteredUsers.length > 0" class="flex flex-col gap-3">
      <div
        *ngFor="let user of filteredUsers; let i = index"
        #userItem
        class="w-max ml-4 mr-[5px] flex items-center gap-4 px-5 py-1 hover:bg-[#ECEEFE] rounded-[30px] cursor-pointer transition-colors duration-200"
        [ngClass]="{
          'bg-[#ECEEFE]': i === activeIndex && activeList === 'users'
        }"
        (click)="selectUser(user)"
        role="option"
        aria-selected="{{ i === activeIndex && activeList === 'users' }}"
      >
        <div class="relative w-12 h-12">
          <img
            [src]="user.avatar || 'assets/img/profile.svg'"
            alt="User"
            class="w-full h-full rounded-full object-cover"
          />
          <div
            class="absolute bottom-0 right-[-2px] w-4 h-4 rounded-full border-2 border-white"
            [style.backgroundColor]="
              statusMap[user.uid] ? '#92C83E' : '#686868'
            "
          ></div>
        </div>
        <p
          class="text-base transition-colors duration-200"
          [ngClass]="{
            'font-bold text-[#535AF1]':
              i === activeIndex && activeList === 'users',
            'font-normal text-black':
              i !== activeIndex && activeList === 'users'
          }"
        >
          {{ user.name }} <span *ngIf="user.uid === currentUserUid">(Du)</span>
        </p>
      </div>
    </div>

    <!-- group mention list -->
    <div *ngIf="filteredGroups.length > 0" class="flex flex-col gap-3">
      <div
        *ngFor="let group of filteredGroups; let i = index"
        #groupItem
        class="w-max ml-4 mr-[5px] px-5 py-1 hover:bg-[#ECEEFE] rounded-[30px] cursor-pointer transition-colors duration-200"
        [ngClass]="{
          'bg-[#ECEEFE]': i === activeIndex && activeList === 'groups'
        }"
        (click)="selectGroup(group)"
        role="option"
        aria-selected="{{ i === activeIndex && activeList === 'groups' }}"
      >
        <p
          class="text-lg"
          [ngClass]="{
            'font-bold text-[#535AF1]':
              i === activeIndex && activeList === 'groups',
            'font-normal text-black':
              i !== activeIndex && activeList === 'groups'
          }"
        >
          # {{ group.name }}
        </p>
      </div>
    </div>

    <div
      *ngIf="filteredUsers.length === 0 && filteredGroups.length === 0"
      class="ml-4 mr-[5px] px-5 py-1 cursor-default text-gray-500"
    >
      <p>Keine Ergebnisse</p>
    </div>
  </div>

  <!-- only show this block on mobile -->
  <div
    *ngIf="showPopup && isMobile"
    class="fixed inset-0 flex flex-col mt-[190px] bg-white z-50 overflow-y-auto"
  >
    <!-- user mention list (mobile) -->
    <div
      *ngIf="filteredUsers.length > 0"
      class="flex flex-col gap-4 px-5 pt-3 pb-10"
    >
      <div
        *ngFor="let user of filteredUsers; let i = index"
        #userItem
        class="w-max ml-4 mr-[5px] flex items-center gap-4 px-5 py-1 hover:bg-[#ECEEFE] rounded-[30px] cursor-pointer transition-colors duration-200"
        [ngClass]="{
          'bg-[#ECEEFE]': i === activeIndex && activeList === 'users',
        }"
        (click)="selectUser(user)"
        role="option"
        aria-selected="{{ i === activeIndex && activeList === 'users' }}"
      >
        <div class="relative w-12 h-12">
          <img
            [src]="user.avatar || 'assets/img/profile.svg'"
            alt="User"
            class="w-full h-full rounded-full object-cover"
          />
          <div
            class="absolute bottom-0 right-[-2px] w-4 h-4 rounded-full border-2 border-white"
            [style.backgroundColor]="
              statusMap[user.uid] ? '#92C83E' : '#686868'
            "
          ></div>
        </div>
        <p
          class="text-base transition-colors duration-200"
          [ngClass]="{
            'font-bold text-[#535AF1]':
              i === activeIndex && activeList === 'users',
            'font-normal text-black':
              i !== activeIndex && activeList === 'users'
          }"
        >
          {{ user.name }} <span *ngIf="user.uid === currentUserUid">(Du)</span>
        </p>
      </div>
    </div>

    <!-- group mention list (mobile) -->
    <div
      *ngIf="filteredGroups.length > 0"
      class="flex flex-col gap-4 px-5 pt-3 pb-10"
    >
      <div
        *ngFor="let group of filteredGroups; let i = index"
        #groupItem
        class="w-max ml-4 mr-[5px] px-5 py-1 hover:bg-[#ECEEFE] rounded-[30px] cursor-pointer transition-colors duration-200"
        [ngClass]="{
          'bg-[#ECEEFE]': i === activeIndex && activeList === 'groups'
        }"
        (click)="selectGroup(group)"
        role="option"
        aria-selected="{{ i === activeIndex && activeList === 'groups' }}"
      >
        <p
          class="text-lg"
          [ngClass]="{
            'font-bold text-[#535AF1]':
              i === activeIndex && activeList === 'groups',
            'font-normal text-black':
              i !== activeIndex && activeList === 'groups'
          }"
        >
          # {{ group.name }}
        </p>
      </div>
    </div>

    <!-- No results -->
    <div
      *ngIf="filteredUsers.length === 0 && filteredGroups.length === 0"
      class="ml-4 mr-[5px] px-5 py-1 cursor-default text-gray-500"
    >
      Keine Ergebnisse
    </div>
  </div>
</div>
