<!-- User hover on other peoples messages -->
<div
  *ngIf="msg.sender !== currentUserUid"
  class="hidden group-hover:flex gap-1 absolute -top-4 px-[15px] py-[3px] items-center bg-white border border-[#ADB0D9] rounded-r-[25px] rounded-tl-[25px] transition-opacity duration-200 z-10"
  [ngClass]="isMobile ? 'right-[16px]' : 'right-[45px]'"
>
  <button
    *ngIf="showQuickButtons"
    (click)="quickReaction.emit('✔️')"
    class="p-[10px] rounded-[20px] hover:bg-gray-100"
    [ngClass]="{ hidden: isMobile }"
    title="✔️"
  >
    ✔️
  </button>
  <button
    *ngIf="showQuickButtons"
    (click)="quickReaction.emit('👍')"
    class="p-[10px] rounded-[20px] hover:bg-gray-100"
    [ngClass]="{ hidden: isMobile }"
    title="👍"
  >
    👍
  </button>
  <div class="picker-container relative inline-block self-start">
    <button
      (click)="togglePicker.emit()"
      class="flex-none p-2 hover:bg-gray-100 rounded-full"
    >
      <img
        src="assets/img/icons/add_reaction.png"
        alt="emoji picker"
        class="w-6 h-6"
      />
    </button>
  </div>
  <button
    *ngIf="showThreadButton"
    (click)="onOpenThread($event)"
    class="p-[10px] rounded-[20px] hover:bg-gray-100"
    title="Open thread"
  >
    <img src="assets/img/icons/comment.png" alt="Thread" />
  </button>
</div>

<!-- User hover on own message -->
<div
  *ngIf="msg.sender === currentUserUid"
  class="hidden group-hover:flex gap-1 absolute -top-4 px-[15px] py-[3px] items-center bg-white border border-[#ADB0D9] rounded-l-[25px] rounded-tr-[25px] transition-opacity duration-200 z-10"
  [ngClass]="isMobile ? 'left-[16px]' : 'left-[45px]'"
>
  <button
    *ngIf="showQuickButtons"
    (click)="quickReaction.emit('✔️')"
    class="p-[10px] rounded-[20px] hover:bg-gray-100"
    [ngClass]="{ hidden: isMobile }"
    title="✔️"
  >
    ✔️
  </button>
  <button
    *ngIf="showQuickButtons"
    (click)="quickReaction.emit('👍')"
    class="p-[10px] rounded-[20px] hover:bg-gray-100"
    [ngClass]="{ hidden: isMobile }"
    title="👍"
  >
    👍
  </button>
  <div class="picker-container relative inline-block self-start">
    <button
      (click)="togglePicker.emit()"
      class="flex-none p-2 hover:bg-gray-100 rounded-full"
    >
      <img
        src="assets/img/icons/add_reaction.png"
        alt="emoji picker"
        class="w-6 h-6"
      />
    </button>
  </div>
  <button
    *ngIf="showThreadButton"
    (click)="onOpenThread($event)"
    class="p-[10px] rounded-[20px] hover:bg-gray-100"
    title="Open thread"
  >
    <img src="assets/img/icons/comment.png" alt="Thread" />
  </button>
  <div class="relative inline-block">
    <!-- the three-dot “options” button -->
    <button
      class="options-button p-2 rounded-full hover:bg-gray-100 relative"
      title="Options"
      (click)="onToggleOptions($event)"
    >
      <img src="assets/img/icons/more_vert.png" alt="Options" />
    </button>

    <!-- the popup itself -->
    <div
      *ngIf="optionsOpen"
      class="absolute w-max top-1/2 left-full mt-2 bg-white flex items-center py-2 px-4 rounded-b-[30px] rounded-tr-[30px] shadow-[0px_6px_14px_0px_#00000033] z-10"
    >
      <button
        class="px-5 py-2 font-semibold text-lg bg-transparent text-black rounded-full hover:bg-[#ECEEFE] hover:text-[#535AF1]"
        (click)="onOpenEdit($event)"
      >
        Nachricht bearbeiten
      </button>
    </div>
  </div>
</div>
