<button
  (click)="toggle()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  class="fixed -rotate-90 bottom-[300px] bg-white rounded-b-[30px] shadow-xl text-black px-5 py-5 items-center gap-2 hover:text-[#535AF1] font-medium text-xl whitespace-nowrap hidden lg:flex"
  [ngClass]="{
    'w-[310px] -left-[125px]': !isOpen,
    'w-[340px] -left-[140px]': isOpen
  }"
>
  <span> Workspace-Menü {{ isOpen ? "schließen" : "öffnen" }} </span>

  <img
    [src]="iconSrc"
    alt="Toggle"
    class="w-8 h-8 transition-transform duration-300 ease-in-out"
    [class.rotate-180]="!isOpen"
  />
</button>
