.next-btn {
    background-color: #3739C8;

    &:hover {
        background-color: #444DF2;
    }
}

.successMessage {
    /* Animation properties */
    opacity: 0;
    transform: translateX(100%) translateY(100%);
    animation:
        slideIn ease-out 1300ms forwards,
        dissolve ease-out 1300ms forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%) translateY(100%);
    }

    to {
        transform: translateX(0) translateY(0);
    }
}

@keyframes dissolve {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.error-message {
    color: #FF0000;
    font-size: 14px;
    margin-top: 10px;

        /* Animation properties */
        opacity: 0;
        transform: translateX(100%) translateY(100%);
        animation:
            slideIn ease-out 1300ms forwards,
            dissolve ease-out 1300ms forwards;
}