<div
  class="login-page container mx-auto p-5 flex flex-col items-center justify-center min-h-screen"
>
  <!-- Logo Section -->
  <header
    class="logo-container flex items-center w-full max-w-[1920px]"
    [ngClass]="{
      'mt-[75px] justify-between medShort:mt-[20px]': !isMobile,
      'justify-center mt-20px': isMobile
    }"
  >
    <div class="logo flex items-center gap-2">
      <img src="assets/img/logo.svg" alt="DABubble Logo" class="w-16 h-auto" />
      <p class="text-2xl font-bold">DABubble</p>
    </div>
  </header>

  <div
    class="login-container container mx-auto md:px-8 md:py-10 flex flex-col items-center justify-center bg-white rounded-[30px] shadow-[0px_2px_10px_0px_#00000014] w-full max-w-[606px] mt-8"
    [ngClass]="{ 'p-8': !isMobile, 'px-2 py-3': isMobile }"
  >
    <div class="flex justify-center flex-col items-center w-full mt-4">
      <div
        class="relative flex flex-col items-center"
        [ngClass]="{
          'gap-8 w-[90%] mb-10': !isMobile,
          'gap-1 w-full mb-5': isMobile
        }"
      >
        <a
          routerLink="/register"
          class="absolute"
          [ngClass]="{
            '-left-5 top-[16px]': !isMobile,
            'left-3 top-2': isMobile
          }"
          (mouseenter)="arrowHover = true"
          (mouseleave)="arrowHover = false"
        >
          <img
            [src]="
              arrowHover
                ? 'assets/img/arrow_back_purple.svg'
                : 'assets/img/arrow_back_large.svg'
            "
            alt="Back"
            [ngClass]="{ 'w-10 h-10': !isMobile, 'w-8 h-8': isMobile }"
          />
        </a>
        <h1
          class="text-[#444DF2] font-bold text-center w-[93%]"
          [ngClass]="{ 'text-[46px]': !isMobile, 'text-[32px]': isMobile }"
        >
          Wähle deinen Avatar
        </h1>
      </div>

      <!-- Anzeige des ausgewählten Avatars oder Standard-Profilbildes -->
      <img
        [src]="selectedAvatar || 'assets/img/profile.svg'"
        alt="profile image"
        class="rounded-full mb-4 object-cover"
        [ngClass]="{
          'w-[168px] h-[168px]': !isMobile,
          'w-[120px] h-[120px]': isMobile
        }"
      />

      <!-- Anzeige des Benutzernamens -->
      <div class="font-bold text-[32px]">
        {{ registrationName || currentUser?.name || "Benutzer" }}
      </div>

      <p class="self-start mb-6 ml-10 text-xl">Aus der Liste wählen</p>

      <!-- Avatar-Auswahl -->
      <div
        class="flex items-center justify-center px-2 gap-4 flex-wrap w-full mb-10"
      >
        <img
          *ngFor="let avatar of avatars"
          [src]="avatar"
          alt="Avatar Option"
          class="w-16 h-16 cursor-pointer rounded-full hover:ring-2 hover:ring-blue-500 transition-all"
          [class.ring-2]="avatar === selectedAvatar"
          [class.ring-blue-500]="avatar === selectedAvatar"
          (click)="selectAvatar(avatar)"
        />
      </div>

      <!-- Fehlermeldung, falls ein Fehler aufgetreten ist -->
      <p *ngIf="errorMessage" class="error-message text-red-500 text-sm mt-4">
        {{ errorMessage }}
      </p>

      <!-- Weiter-Button -->
      <div class="flex justify-end items-center w-full mt-6">
        <button
          (click)="confirmAvatar()"
          [disabled]="!selectedAvatar || loading"
          class="bg-[#444DF2] hover:bg-[#3739C8] text-white py-3 px-6 font-bold text-lg rounded-full disabled:cursor-default disabled:bg-[#686868] transition-colors"
        >
          <span *ngIf="!loading">Weiter</span>
          <span *ngIf="loading">Wird gespeichert...</span>
        </button>
      </div>
    </div>

    <!-- successMessage  -->
    <p
      *ngIf="successMessage"
      class="successMessage flex justify-center items-center text-3xl text-center font-bold fixed bottom-5 right-5 w-max h-max p-6 bg-[#444DF2] text-white rounded-t-[30px] rounded-bl-[30px] shadow-[0px_6px_10px_0px_#00000033]"
    >
      {{ successMessage }}
    </p>
  </div>

  <!-- Footer Links -->
  <footer class="footer flex justify-center items-center gap-4 mt-auto mb-2">
    <a
      routerLink="/impressum"
      class="mt-8 px-[15px] py-[10px] text-[18px] font-medium border border-transparent text-[#797EF3] rounded-[30px] hover:border hover:border-[#ADB0D9] hover:text-[#444DF2] transition-colors duration-200"
    >
      Impressum
    </a>
    <a
      routerLink="/privacy-policy"
      class="mt-8 px-[15px] py-[10px] text-[18px] font-medium border border-transparent text-[#797EF3] rounded-[30px] hover:border hover:border-[#ADB0D9] hover:text-[#444DF2] transition-colors duration-200"
    >
      Datenschutz</a
    >
  </footer>
</div>
