<div
  class="background-color-intro w-full h-screen flex justify-center items-center"
>
  <div
    class="intro-overlay container max-w-[1920px] w-full h-full flex justify-center items-center relative z-10"
  >
    <div
      class="intro-content container absolute flex justify-center items-center gap-4"
    >
      <img
        src="assets/img/logo.svg"
        alt="DABubble Logo"
        class="logo background-color-intro-logo z-10 w-44 h-44 transition-all duration-500"
        style="view-transition-name: app-logo"
      />
      <h1
        class="title text-white text-5xl font-bold tracking-wider whitespace-nowrap hidden sm:block"
      >
        <span class="inline-block opacity-0">DABubble</span>
      </h1>
    </div>
  </div>
</div>
