/* Animation keyframes */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* @keyframes moveToTopLeft {
  0% {
    bottom: 30%;
    right: 30%;
  }
  100% {
    bottom: auto;
    top: 75px;
    left: 0%;
    right: auto;
    transform: scale(0.7);
  }
} */

@keyframes slideToTopLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(-65vw + 100%), calc(-70vh + 100%));
  }
}

@keyframes logoScaleDown {
  to {
    transform: scale(0.7);
  }
}

@keyframes textFadeOut {
  to {
    opacity: 0.7;
  }
}

.intro-overlay {
  position: relative;
  overflow: hidden;
  transition: background-color 1s ease-out;
  
  &:not(.intro-background-color) {
    background-color: transparent;
  }
}

.background-color-intro { 
  background: linear-gradient(to bottom, #747af4 0%, #353ee6 100%);
  //   bg-gradient-to-b from-[#747af4] to-[#353ee6]
}

.background-color-intro-logo {
  background: linear-gradient(to bottom, #5159ef 0%, #454dec 100%);
}

.intro-content {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  bottom: 30%;
  right: 30%;
  margin-top: 6rem;
  margin-left: 9rem;

  /* Initial text animation */
  .title span {
    animation: slideIn 0.5s ease-out forwards;
    animation-delay: 0.1s;
  }

  /* Final animation state */
  &.final-animation {
    animation: moveToTopLeft 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    
    .title span {
      animation: none;
    }
  }

  /* Slide animation state */
  &.slide-animation {
    animation: slideToTopLeft 1.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
    
    .logo {
      animation: logoScaleDown 1.5s ease-in-out forwards;
      margin-left: 5rem;
      margin-top: 75px;
    }
    
    .title span {
      animation: textFadeOut 1s ease-out forwards;
      margin-top: 75px;
    }
  }
}

@media screen and (max-width: 430px) { 
  .intro-content {
    align-items: center;
    bottom: 1.5rem;
    right: 36%;
    margin-top: 3rem;
    margin-left: 0;

    .logo {
      width: 80px; /* Adjust logo size for smaller screens */
      margin-left: 40%;
    }

    .title {
      text-align: center;
      font-size: 1.5rem; /* Adjust title size for smaller screens */
    }
  }
}