<div class="w-full h-screen flex justify-center items-center">
  <div class="intro-overlay">
    <div class="intro-content">
      <img src="assets/img/logo.svg" alt="DABubble Logo" class="logo" />
      <h1 #animatedTitle class="title"></h1>
    </div>
  </div>
</div>















<!-- 
<div class="intro-overlay ">
    <div class="intro flex justify-center items-center w-full max-w-2xl mb-4">
      <img src="assets/img/logo.svg" alt="DABubble Logo" class="w-16 h-auto" />
      <h2 class="text-white font-bold ml-4 typewriter">
        <span class="char">D</span>
        <span class="char">A</span>
        <span class="char">B</span>
        <span class="char">u</span>
        <span class="char">b</span>
        <span class="char">b</span>
        <span class="char">l</span>
        <span class="char">e</span>
      </h2>
    </div>
  </div>
-->
