<div class="w-full h-screen flex justify-center items-center bg-gradient-to-b from-[#747af4] to-[#353ee6]">
  <div class="intro-overlay container max-w-[1920px] w-full h-full absolute z-10">
    <div class="intro-content">
      <img src="assets/img/logo.svg" alt="DABubble Logo" class="logo z-[1] w-32 left-10 transition-all duration-1000" />
      <h1 class="title text-white text-4xl font-bold tracking-wider whitespace-nowrap">
        <span class="inline-block opacity-0 -translate-x-[2px] transition-all duration-500 ease-out animate-slide-in">DABubble</span>
      </h1>
    </div>
  </div>
</div>