.next-btn {
    background-color: #3739C8;


    &:hover {
        background-color: #444DF2;
    }
}

input {
    background-color: #edeefe;
}



.footer {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #797EF3;

    a {
        margin-top: 32px;
        padding: 10px 15px;

        &:hover {
            border: #cbcbd1 1px solid;
            color: #3739C8;
        }
    }

}