<div
  class="login-page container mx-auto p-5 flex flex-col items-center min-h-screen relative"
>
  <header
    class="logo-container flex items-center w-full max-w-[1920px]"
    [ngClass]="{
      'mt-[75px] justify-between medShort:mt-[20px]': !isMobile,
      'justify-center mt-20px': isMobile
    }"
  >
    <div class="logo flex items-center gap-2">
      <img src="assets/img/logo.svg" alt="DABubble Logo" class="w-16 h-auto" />
      <p class="text-2xl font-bold">DABubble</p>
    </div>
  </header>

  <div class="flex justify-center items-center mx-auto w-full">
    <div
      class="relative md:max-w-[1000px] w-full flex flex-col px-[56px] py-[48px] gap-[32px] shadow-[0px_2px_10px_0px_#00000014] rounded-[30px] bg-white mt-8"
    >
      <a
        routerLink="/login"
        aria-label="Zurück zur Anmeldung"
        class="w-max"
        (mouseenter)="arrowHover = true"
        (mouseleave)="arrowHover = false"
      >
        <img
          [src]="
            arrowHover
              ? 'assets/img/arrow_back_purple.svg'
              : 'assets/img/arrow_back_large.svg'
          "
          alt=""
          class="w-10 h-10"
          aria-hidden="true"
        />
      </a>

      <div class="flex flex-col gap-5 break-words">
        <h1
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[46px]': !isMobile, 'text-[36px]': isMobile }"
        >
          Datenschutzerklärung
        </h1>
        <p>Stand: 9. August 2025</p>
        <h2
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[32px]': !isMobile, 'text-[26px]': isMobile }"
        >
          Inhaltsübersicht
        </h2>
        <ul class="index">
          <li><a class="index-link" href="#m3">Verantwortlicher</a></li>
          <li>
            <a class="index-link" href="#mOverview"
              >Übersicht der Verarbeitungen</a
            >
          </li>
          <li>
            <a class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a>
          </li>
          <li>
            <a class="index-link" href="#m12"
              >Allgemeine Informationen zur Datenspeicherung und Löschung</a
            >
          </li>
          <li>
            <a class="index-link" href="#m182"
              >Kontakt- und Anfrageverwaltung</a
            >
          </li>
          <li>
            <a class="index-link" href="#m2324"
              >Datenschutzinformationen für Hinweisgeber</a
            >
          </li>
        </ul>
        <h2
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[32px]': !isMobile, 'text-[28px]': isMobile }"
        >
          Verantwortlicher
        </h2>
        <p>
          Alessandro Argenziano,<br />Kirchstr. 2,<br />79801 Hohentengen a.H. -
          Baden-Württemberg
        </p>
        <p>Vertretungsberechtigte Personen: Alessandro Argenziano</p>
        <p>
          E-Mail-Adresse:
          <a
            href="mailto:contact@alessandro-argenziano.com"
            class="text-blue-600 hover:underline hover:font-semibold transition-all duration-100"
            >contact&#64;alessandro-argenziano.com</a
          >
        </p>
        <p>Telefon: +49 (0)160 92965227</p>
        <p>
          Impressum:
          <a
            href="https://dabubble.alessandro-argenziano.com/impressum"
            target="_blank"
            class="text-blue-600 hover:underline hover:font-semibold transition-all duration-100"
            >https://dabubble.alessandro-argenziano.com/impressum</a
          >
        </p>

        <h2
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[32px]': !isMobile, 'text-[28px]': isMobile }"
        >
          Übersicht der Verarbeitungen
        </h2>
        <p>
          Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und
          die Zwecke ihrer Verarbeitung zusammen und verweist auf die
          betroffenen Personen.
        </p>
        <h3>Arten der verarbeiteten Daten</h3>
        <ul>
          <li>Bestandsdaten.</li>
          <li>Beschäftigtendaten.</li>
          <li>Kontaktdaten.</li>
          <li>Inhaltsdaten.</li>
          <li>Nutzungsdaten.</li>
          <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
        </ul>
        <h3>Kategorien betroffener Personen</h3>
        <ul>
          <li>Beschäftigte.</li>
          <li>Kommunikationspartner.</li>
          <li>Dritte Personen.</li>
          <li>Hinweisgeber.</li>
        </ul>
        <h3>Zwecke der Verarbeitung</h3>
        <ul>
          <li>Kommunikation.</li>
          <li>Organisations- und Verwaltungsverfahren.</li>
          <li>Feedback.</li>
          <li>
            Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
          </li>
          <li>Hinweisgeberschutz.</li>
        </ul>
        <h2
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[32px]': !isMobile, 'text-[28px]': isMobile }"
        >
          Maßgebliche Rechtsgrundlagen
        </h2>
        <p>
          <strong>Nationale Datenschutzregelungen in Deutschland: </strong
          >Zusätzlich zu den Datenschutzregelungen der DSGVO gelten nationale
          Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere
          das Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der
          Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält
          insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf
          Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer
          Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke
          und zur Übermittlung sowie automatisierten Entscheidungsfindung im
          Einzelfall einschließlich Profiling. Ferner können
          Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung
          gelangen.
        </p>
        <p>
          <strong>Nationale Datenschutzregelungen in Österreich: </strong
          >Zusätzlich zu den Datenschutzregelungen der DSGVO gelten nationale
          Regelungen zum Datenschutz in Österreich. Hierzu gehört insbesondere
          das Bundesgesetz zum Schutz natürlicher Personen bei der Verarbeitung
          personenbezogener Daten (Datenschutzgesetz – DSG). Das
          Datenschutzgesetz enthält insbesondere Spezialregelungen zum Recht auf
          Auskunft, zum Recht auf Richtigstellung oder Löschung, zur
          Verarbeitung besonderer Kategorien personenbezogener Daten, zur
          Verarbeitung für andere Zwecke und zur Übermittlung sowie zur
          automatisierten Entscheidungsfindung im Einzelfall.
        </p>
        <p>
          <strong>Hinweis auf Geltung DSGVO und Schweizer DSG: </strong>Diese
          Datenschutzhinweise dienen sowohl der Informationserteilung nach dem
          Schweizer DSG als auch nach der Datenschutzgrundverordnung (DSGVO).
          Aus diesem Grund bitten wir Sie zu beachten, dass aufgrund der
          breiteren räumlichen Anwendung und Verständlichkeit die Begriffe der
          DSGVO verwendet werden. Insbesondere statt der im Schweizer DSG
          verwendeten Begriffe „Bearbeitung" von „Personendaten", "überwiegendes
          Interesse" und "besonders schützenswerte Personendaten" werden die in
          der DSGVO verwendeten Begriffe „Verarbeitung" von „personenbezogenen
          Daten" sowie "berechtigtes Interesse" und "besondere Kategorien von
          Daten" verwendet. Die gesetzliche Bedeutung der Begriffe wird jedoch
          im Rahmen der Geltung des Schweizer DSG weiterhin nach dem Schweizer
          DSG bestimmt.
        </p>

        <h2
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[32px]': !isMobile, 'text-[28px]': isMobile }"
        >
          Allgemeine Informationen zur Datenspeicherung und Löschung
        </h2>
        <p>
          Wir löschen personenbezogene Daten, die wir verarbeiten, gemäß den
          gesetzlichen Bestimmungen, sobald die zugrundeliegenden Einwilligungen
          widerrufen werden oder keine weiteren rechtlichen Grundlagen für die
          Verarbeitung bestehen. Dies betrifft Fälle, in denen der ursprüngliche
          Verarbeitungszweck entfällt oder die Daten nicht mehr benötigt werden.
          Ausnahmen von dieser Regelung bestehen, wenn gesetzliche Pflichten
          oder besondere Interessen eine längere Aufbewahrung oder Archivierung
          der Daten erfordern.
        </p>
        <p>
          Insbesondere müssen Daten, die aus handels- oder steuerrechtlichen
          Gründen aufbewahrt werden müssen oder deren Speicherung notwendig ist
          zur Rechtsverfolgung oder zum Schutz der Rechte anderer natürlicher
          oder juristischer Personen, entsprechend archiviert werden.
        </p>
        <p>
          Unsere Datenschutzhinweise enthalten zusätzliche Informationen zur
          Aufbewahrung und Löschung von Daten, die speziell für bestimmte
          Verarbeitungsprozesse gelten.
        </p>
        <p>
          Bei mehreren Angaben zur Aufbewahrungsdauer oder Löschungsfristen
          eines Datums, ist stets die längste Frist maßgeblich. Daten, die nicht
          mehr für den ursprünglich vorgesehenen Zweck, sondern aufgrund
          gesetzlicher Vorgaben oder anderer Gründe aufbewahrt werden,
          verarbeiten wir ausschließlich zu den Gründen, die ihre Aufbewahrung
          rechtfertigen.
        </p>
        <p>
          Aufbewahrung und Löschung von Daten: Die folgenden allgemeinen Fristen
          gelten für die Aufbewahrung und Archivierung nach deutschem Recht:
        </p>
        <ul>
          <li>
            10 Jahre - Aufbewahrungsfrist für Bücher und Aufzeichnungen,
            Jahresabschlüsse, Inventare, Lageberichte, Eröffnungsbilanz sowie
            die zu ihrem Verständnis erforderlichen Arbeitsanweisungen und
            sonstigen Organisationsunterlagen (§ 147 Abs. 1 Nr. 1 i.V.m. Abs. 3
            AO, § 14b Abs. 1 UStG, § 257 Abs. 1 Nr. 1 i.V.m. Abs. 4 HGB).
          </li>
          <li>
            8 Jahre - Buchungsbelege, wie z. B. Rechnungen und Kostenbelege (§
            147 Abs. 1 Nr. 4 und 4a i.V.m. Abs. 3 Satz 1 AO sowie § 257 Abs. 1
            Nr. 4 i.V.m. Abs. 4 HGB).
          </li>
          <li>
            6 Jahre - Übrige Geschäftsunterlagen: empfangene Handels- oder
            Geschäftsbriefe, Wiedergaben der abgesandten Handels- oder
            Geschäftsbriefe, sonstige Unterlagen, soweit sie für die Besteuerung
            von Bedeutung sind, z. B. Stundenlohnzettel,
            Betriebsabrechnungsbögen, Kalkulationsunterlagen,
            Preisauszeichnungen, aber auch Lohnabrechnungsunterlagen, soweit sie
            nicht bereits Buchungsbelege sind und Kassenstreifen (§ 147 Abs. 1
            Nr. 2, 3, 5 i.V.m. Abs. 3 AO, § 257 Abs. 1 Nr. 2 u. 3 i.V.m. Abs. 4
            HGB).
          </li>
          <li>
            3 Jahre - Daten, die erforderlich sind, um potenzielle
            Gewährleistungs- und Schadensersatzansprüche oder ähnliche
            vertragliche Ansprüche und Rechte zu berücksichtigen sowie damit
            verbundene Anfragen zu bearbeiten, basierend auf früheren
            Geschäftserfahrungen und üblichen Branchenpraktiken, werden für die
            Dauer der regulären gesetzlichen Verjährungsfrist von drei Jahren
            gespeichert (§§ 195, 199 BGB).
          </li>
        </ul>

        <h2
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[32px]': !isMobile, 'text-[28px]': isMobile }"
        >
          Kontakt- und Anfrageverwaltung
        </h2>
        <p>
          Bei der Kontaktaufnahme mit uns (z. B. per Post, Kontaktformular,
          E-Mail, Telefon oder via soziale Medien) sowie im Rahmen bestehender
          Nutzer- und Geschäftsbeziehungen werden die Angaben der anfragenden
          Personen verarbeitet, soweit dies zur Beantwortung der Kontaktanfragen
          und etwaiger angefragter Maßnahmen erforderlich ist.
        </p>
        <ul class="m-elements">
          <li>
            <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z. B. der
            vollständige Name, Wohnadresse, Kontaktinformationen, Kundennummer,
            etc.); Kontaktdaten (z. B. Post- und E-Mail-Adressen oder
            Telefonnummern); Inhaltsdaten (z. B. textliche oder bildliche
            Nachrichten und Beiträge sowie die sie betreffenden Informationen,
            wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung);
            Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer, Klickpfade,
            Nutzungsintensität und -frequenz, verwendete Gerätetypen und
            Betriebssysteme, Interaktionen mit Inhalten und Funktionen). Meta-,
            Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
            Identifikationsnummern, beteiligte Personen).
          </li>
          <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
          <li>
            <strong>Zwecke der Verarbeitung:</strong> Kommunikation;
            Organisations- und Verwaltungsverfahren; Feedback (z. B. Sammeln von
            Feedback via Online-Formular). Bereitstellung unseres
            Onlineangebotes und Nutzerfreundlichkeit.
          </li>
          <li>
            <strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend
            Angaben im Abschnitt "Allgemeine Informationen zur Datenspeicherung
            und Löschung".
          </li>
          <li class="">
            <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6
            Abs. 1 S. 1 lit. f) DSGVO). Vertragserfüllung und vorvertragliche
            Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).
          </li>
        </ul>
        <p>
          <strong
            >Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und
            Diensten:</strong
          >
        </p>
        <ul class="m-elements">
          <li>
            <strong>Kontaktformular: </strong>Bei Kontaktaufnahme über unser
            Kontaktformular, per E-Mail oder anderen Kommunikationswegen,
            verarbeiten wir die uns übermittelten personenbezogenen Daten zur
            Beantwortung und Bearbeitung des jeweiligen Anliegens. Dies umfasst
            in der Regel Angaben wie Name, Kontaktinformationen und
            gegebenenfalls weitere Informationen, die uns mitgeteilt werden und
            zur angemessenen Bearbeitung erforderlich sind. Wir nutzen diese
            Daten ausschließlich für den angegebenen Zweck der Kontaktaufnahme
            und Kommunikation;
            <span class=""
              ><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und
              vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO,
              Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</span
            >
          </li>
        </ul>
        <h2
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[32px]': !isMobile, 'text-[28px]': isMobile }"
        >
          Datenschutzinformationen für Hinweisgeber
        </h2>
        <p>
          In diesem Abschnitt finden Sie Informationen darüber, wie wir Daten
          von Personen, die Hinweise geben (Hinweisgeber), sowie von betroffenen
          und beteiligten Parteien im Rahmen unseres Hinweisgeberverfahrens
          handhaben. Unser Ziel ist es, eine unkomplizierte und sichere
          Möglichkeit zur Meldung von möglichem Fehlverhalten durch uns, unsere
          Mitarbeiter oder Dienstleister zu bieten, insbesondere für Handlungen,
          die gegen Gesetze oder<span
            class="dsg-license-content-blurred de dsg-ttip-activate"
          >
            - Dieser Textbereich muss mit einer Premium Lizenz freischaltet
            werden. - premiumtext premiumtext premiumtext premiumtext
            premiumtext premiumtext premiumtext premiumtext premiumtext
            premiumtext premiumtext premiumtext premiumtext premiumtext
            premiumtext
          </span>
        </p>
        <p>
          Rechtsgrundlagen (Deutschland): Soweit wir Daten zur Erfüllung unserer
          gesetzlichen Pflichten entsprechend dem Hinweisgeberschutzgesetz
          (HinSchG) verarbeiten, ist die rechtliche Basis der Verarbeitung
          Artikel 6 Abs. 1 S. 1 lit. c DSGVO und im Fall besonderer Kategorien
          personenbezogener Daten Art. 9 Abs. 2 lit. g DSGVO, § 22 BDSG, jeweils
          in Verbindung mit § 10 HinSchG. Dies bezieht sich auf die
          Verpflichtung zur Einrichtung und zum Betrieb einer internen
          Hinweisgebermeldestelle, die Erfüllung ihrer gesetzlichen Aufgaben
          und, im Fall der Nutzung der im Meldeverfahren erhobenen Daten, das
          Ergreifen weiterer Untersuchungen oder arbeitsrechtlicher Schritte
          gegen Personen, die eines Verstoßes überführt wurden.
        </p>
        <p>
          Soweit wir Daten (insbesondere bei festgestelltem Fehlverhalten) im
          Rahmen oder zur Vorbereitung der Rechtsverteidigung verarbeiten,
          erfolgt dies auf Grundlage unserer berechtigten Interessen an einem
          rechtskonformen und ethischen Handeln gemäß Art. 6 Abs. 1 S. 1 lit. f)
          DSGVO.
        </p>
        <p>
          Soweit Sie uns eine Einwilligung zur Verarbeitung von
          personenbezogenen Daten für bestimmte Zwecke erteilt wurde, erfolgt
          die Verarbeitung auf deren Grundlage gem. Art. 6 Abs. 1 S. 1 lit. a)
          DSGVO und im Fall besonderer
        </p>
        <p>
          Rechtsgrundlagen (Österreich): Soweit wir Daten zur Erfüllung unserer
          gesetzlichen Pflichten entsprechend dem HinweisgeberInnenschutzgesetz
          (HSchG) verarbeiten, ist die rechtliche Basis der Verarbeitung Artikel
          6 Abs. 1 S. 1 lit. c) DSGVO und im Fall besonderer Kategorien
          personenbezogener Daten Art. 9 Abs. 2 lit. g) DSGVO, jeweils in
          Verbindung mit § 8 HSchG. Dies bezieht sich auf die Verpflichtung zur
          Einrichtung und zum Betrieb einer internen Hinweisgebermeldestelle,
          die Erfüllung ihrer gesetzlichen Aufgaben und, im Fall der Nutzung der
          im Meldeverfahren erhobenen Daten, das Ergreifen weiterer
          Untersuchungen oder arbeitsrechtlicher Schritte gegen Personen, die
          eines Verstoßes überführt wurden.
        </p>
        <p>
          Soweit wir Daten (insbesondere bei festgestelltem Fehlverhalten) im
          Rahmen oder zur Vorbereitung der Rechtsverteidigung verarbeiten,
          erfolgt dies auf Grundlage unserer berechtigten Interessen an einem
          rechtskonformen und ethischen Handeln gemäß Art. 6 Abs. 1 S. 1 lit. f)
          DSGVO.
        </p>
        <p>
          Soweit Sie uns eine Einwilligung zur Verarbeitung von
          personenbezogenen Daten für bestimmte Zwecke erteilt wurde, erfolgt
          die Verarbeitung auf deren Grundlage gem. Art. 6 Abs. 1 S. 1 lit. a)
          DSGVO und im Fall besonderer Kategorien
        </p>
        <ul class="m-elements">
          <li>
            <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z. B. der
            vollständige Name, Wohnadresse, Kontaktinformationen,
            Kundennummer,<span
              class="dsg-license-content-blurred de dsg-ttip-activate"
            >
              - Dieser Textbereich muss mit einer Premium Lizenz freischaltet
              werden. - premiumtext premiumtext premiumtext </span
            >); Beschäftigtendaten (Informationen zu Mitarbeitern und anderen
            Personen in einem<span
              class="dsg-license-content-blurred de dsg-ttip-activate"
            >
              - Dieser Textbereich muss mit einer Premium Lizenz freischaltet
              werden. - premiumtext premiumtext premiumtext </span
            >); Kontaktdaten (z. B. Post- und E-Mail-Adressen oder<span
              class="dsg-license-content-blurred de dsg-ttip-activate"
            >
              - Dieser Textbereich muss mit einer Premium Lizenz freischaltet
              werden. - premiumtext premiumtext premiumtext </span
            >); Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und
            Beiträge sowie die sie betreffenden Informationen, wie z. B. Angaben
            zur Autorenschaft<span
              class="dsg-license-content-blurred de dsg-ttip-activate"
            >
              - Dieser Textbereich muss mit einer Premium Lizenz freischaltet
              werden. - premiumtext premiumtext premiumtext premiumtext
              premiumtext premiumtext </span
            >). Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer, Klickpfade,
            Nutzungsintensität und -frequenz, verwendete Gerätetypen und
            Betriebssysteme, Interaktionen mit<span
              class="dsg-license-content-blurred de dsg-ttip-activate"
            >
              - Dieser Textbereich muss mit einer Premium Lizenz freischaltet
              werden. - premiumtext premiumtext premiumtext premiumtext
              premiumtext </span
            >).
          </li>
          <li>
            <strong>Betroffene Personen:</strong> Beschäftigte (z. B.
            Angestellte, Bewerber, Aushilfskräfte und sonstige<span
              class="dsg-license-content-blurred de dsg-ttip-activate"
            >
              - Dieser Textbereich muss mit einer Premium Lizenz freischaltet
              werden. - premiumtext premiumtext premiumtext </span
            >); Dritte Personen. Hinweisgeber.
          </li>
          <li><strong>Zwecke der Verarbeitung:</strong> Hinweisgeberschutz.</li>
          <li>
            <strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend
            Angaben im Abschnitt "Allgemeine Informationen zur Datenspeicherung
            und Löschung".
          </li>
          <li class="">
            <strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1
            lit. a) DSGVO); Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c)
            DSGVO). Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
