.sidebar {
  @apply relative h-full shadow-sm rounded-[32px] overflow-hidden transition-all duration-300 ease-in-out bg-white;
}

.sidebar.collapsed .content {
  opacity: 0;
  transition-delay: 0;
}

.sidebar .content {
  @apply h-full transition-opacity duration-200 ease-in-out;
  transition-delay: 200ms;
  opacity: 1;
}
