<div class="max-w-[1800px] mx-auto flex items-center px-6 py-4">
  <div class="w-1/4">
    <img src="../assets/img/logo.png" alt="Logo" class="h-16 cursor-pointer" />
  </div>

  <app-searchbar
    class="w-2/4 items-center flex justify-center pl-16"
  ></app-searchbar>

  <div
    *ngIf="currentUser"
    class="flex items-center mr-4 gap-5 w-2/4 cursor-pointer justify-end hover:text-[#797EF3]"
    (mouseenter)="currentUserHovered = true"
    (mouseleave)="currentUserHovered = false"
    (click)="toggleDropdown(); $event.stopPropagation()"
  >
    <h2 class="font-bold text-3xl">
      {{ currentUser.name }}
    </h2>
    <div class="relative w-16 h-16">
      <img
        [src]="currentUser.avatar || './assets/img/profile.svg'"
        alt="Profilbild"
        class="w-16 h-16 rounded-full object-cover"
      />
      <div
        class="absolute bottom-0 right-0 w-4 h-4 bg-[#92C83E] rounded-full border-2 border-[#edeefe]"
      ></div>
    </div>
    <img
      [src]="
        currentUserHovered
          ? '../assets/img/icons/arrow_down_purple.png'
          : '../assets/img/icons/arrow_down.png'
      "
    />
  </div>
</div>

<!-- Backdrop -->
<div
  *ngIf="showProfileModal || showDropdown"
  class="fixed inset-0 bg-black bg-opacity-40 z-40 transition-opacity duration-300"
  (click)="closeModals()"
></div>

<div
  class="relative max-w-[1800px] mx-auto flex h-[calc(100vh-96px)] px-6 pb-6 gap-4"
>
  <!-- Dropdown Modal -->
  <div
    *ngIf="showDropdown"
    class="absolute flex flex-col gap-4 items-center right-8 w-fit bg-white shadow-lg rounded-b-[30px] rounded-tl-[30px] border p-8 z-50"
    (click)="$event.stopPropagation()"
  >
    <button
      (click)="openProfileModal(); $event.stopPropagation()"
      class="flex justify-center w-[222px] items-center text-xl font-semibold px-[70px] py-[10px] hover:bg-[#ECEEFE] hover:text-[#535AF1] rounded-[100px]"
    >
      Profile
    </button>
    <button
      (click)="logout(); $event.stopPropagation()"
      class="flex justify-center w-[222px] items-center text-xl font-semibold px-[70px] py-[10px] hover:bg-[#ECEEFE] hover:text-[#535AF1] rounded-[100px]"
    >
      Logout
    </button>
  </div>

  <!-- Profile Modal -->
  <div
    *ngIf="showProfileModal"
    class="absolute flex flex-col gap-9 z-50 right-6 w-fit bg-white shadow-xl rounded-b-[30px] rounded-tl-[30px] border px-[40px] py-[45px] cursor-default"
    (click)="$event.stopPropagation()"
  >
    <!-- Modal Header -->
    <div class="flex justify-between items-center">
      <span *ngIf="!isEditingName" class="font-bold text-xl">Profile</span>
      <span *ngIf="isEditingName" class="font-bold text-xl"
        >Edit your profile</span
      >
      <button
        (click)="closeProfileModal(); $event.stopPropagation()"
        class="w-10 h-10 flex items-center justify-center rounded-full hover:bg-[#ECEEFE] hover:text-[#535AF1] group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 text-black group-hover:text-[#535AF1]"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <!-- Avatar -->
    <div class="flex justify-center w-[420px]">
      <img
        [src]="currentUser?.avatar || './assets/img/profile.svg'"
        class="w-[200px] h-[200px] rounded-full object-cover"
        alt="Avatar"
      />
    </div>

    <!-- Name & Edit -->
    <div
      *ngIf="!isEditingName"
      class="flex flex-col justify-between gap-4 items-center"
    >
      <div class="flex justify-between items-center w-full">
        <span class="font-bold text-3xl">{{ currentUser?.name }}</span>
        <button
          class="text-[#535AF1] font-semibold text-lg hover:font-bold"
          (click)="enableEdit()"
        >
          Edit
        </button>
      </div>
      <div class="flex items-center gap-4 text-[#92C83E] w-full">
        <div class="w-4 h-4 rounded-full bg-[#92C83E]"></div>
        <span class="font-normal text-lg">Active</span>
      </div>
    </div>

    <!-- Email -->
    <div *ngIf="!isEditingName">
      <div class="flex items-center gap-5 font-bold text-xl">
        <img src="../../../assets/img/icons/mail.png" alt="" />
        <span>E-Mail-Adresse</span>
      </div>
      <div class="ml-[50px] mt-[15px] font-medium text-lg text-[#1381FF]">
        {{ currentUser?.email }}
      </div>
    </div>

    <!-- Edit Mode -->
    <div *ngIf="isEditingName" class="w-full">
      <div class="flex items-center gap-5 mb-2">
        <img
          src="../../../assets/img/icons/account_circle.png"
          alt="user icon"
        />
        <span class="font-semibold text-lg">Full name</span>
      </div>

      <input
        [(ngModel)]="editedName"
        (ngModelChange)="validateName()"
        name="editedName"
        class="w-full p-2 rounded-full border-[0.5px] border-[#ADB0D9] focus:outline-none focus:border-[#444DF2] hover:border-[#444DF2] cursor-pointer placeholder:text-[#686868] px-[20px] py-[15px]"
        type="text"
        [placeholder]="currentUser?.name"
      />
      <div
        class="text-[#ED1E79] text-sm mt-1 ml-5 transition-opacity duration-200 h-4"
        [class.opacity-0]="!nameError"
        [class.opacity-100]="nameError"
      >
        {{ nameError || " " }}
      </div>

      <!-- Save / Cancel Buttons -->
      <div class="flex justify-center gap-8 mt-6">
        <button
          class="bg-white text-[#444DF2] px-[25px] py-[12px] rounded-full border border-[#797EF3] font-semibold text-lg hover:bg-[#535AF1] hover:text-white active:bg-[#444DF2]"
          (click)="closeProfileModal(); $event.stopPropagation()"
        >
          Cancel
        </button>
        <button
          class="text-white font-semibold text-lg px-[25px] py-[12px] rounded-full"
          [ngClass]="{
            'bg-[#444DF2] hover:bg-[#797EF3] active:bg-[#444DF2]': !nameError,
            'bg-[#686868] hover:bg-[#686868] cursor-default': nameError
          }"
          [disabled]="!!nameError"
          (click)="saveName()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>

  <div class="flex h-full w-full">
    <div
      class="sidebar mr-4"
      [ngClass]="{
        'w-1/4': !isCollapsed,
        'w-0': isCollapsed,
        collapsed: isCollapsed
      }"
    >
      <div class="content h-full w-full flex">
        <app-user-list
          class="block h-full w-full"
          [selectedUserUid]="selectedUser?.uid ?? null"
          [selectedGroupId]="selectedGroupId"
          (userSelected)="openPrivateChat($event)"
          (groupSelected)="openGroupChat($event)"
          (userProfileClicked)="openProfileModalFromUser($event)"
        ></app-user-list>
      </div>
    </div>

    <div
      class="bg-white h-full shadow-sm rounded-[32px] transition-all duration-300 ease-in-out"
      [ngClass]="{
        'w-2/4': !isCollapsed && threadVisible,
        'w-3/4':
          (isCollapsed && threadVisible) || (!isCollapsed && !threadVisible),
        'w-full': isCollapsed && !threadVisible
      }"
    >
      <app-chat
        [chatPartner]="selectedUser"
        [groupId]="selectedGroupId"
        [currentUserUid]="currentUserUid"
        [attr.key]="selectedUser?.uid || selectedGroupId"
        (userSelected)="openPrivateChat($event)"
        (threadSelected)="onThreadSelected($event)"
        (closedChannel)="onChannelClosed()"
      ></app-chat>
    </div>

    <div
      class="bg-white h-full shadow-sm rounded-[32px] overflow-hidden transition-all duration-300 ease-in-out ml-4"
      [ngClass]="{
        'w-1/4': threadVisible,
        'w-0': !threadVisible
      }"
    >
      <app-thread
        *ngIf="threadVisible"
        [groupId]="threadGroupId"
        [messageId]="threadMessageId"
        [currentUserUid]="currentUserUid"
        (closeThread)="onCloseThread()"
      ></app-thread>
    </div>
  </div>
</div>

<app-workspace-toggle-button
  (click)="toggleWorkspace()"
></app-workspace-toggle-button>
