<div
  class="login-page container mx-auto p-5 flex flex-col items-center min-h-screen relative"
>
  <header
    class="logo-container flex items-center w-full max-w-[1920px]"
    [ngClass]="{
      'mt-[75px] justify-between medShort:mt-[20px]': !isMobile,
      'justify-center mt-20px': isMobile
    }"
  >
    <div class="logo flex items-center gap-2">
      <img src="assets/img/logo.svg" alt="DABubble Logo" class="w-16 h-auto" />
      <p class="text-2xl font-bold">DABubble</p>
    </div>
  </header>

  <div class="flex justify-center items-center">
    <div
      class="relative min-w-full md:min-w-[670px] w-full flex flex-col px-[56px] py-[48px] gap-[32px] shadow-[0px_2px_10px_0px_#00000014] rounded-[30px] bg-white mt-8"
    >
      <a
        (click)="goBack()"
        class="w-max cursor-pointer"
        (mouseenter)="arrowHover = true"
        (mouseleave)="arrowHover = false"
      >
        <img
          [src]="
            arrowHover
              ? 'assets/img/arrow_back_purple.svg'
              : 'assets/img/arrow_back_large.svg'
          "
          alt=""
          class="w-10 h-10"
          aria-hidden="true"
        />
      </a>
      <div class="flex flex-col gap-5">
        <h1
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[46px]': !isMobile, 'text-[32px]': isMobile }"
        >
          Impressum
        </h1>

        <div class="flex flex-col gap-3 text-base md:text-lg">
          <p class="text-lg md:text-xl">
            <strong>Angaben gemäß § 5 TMG</strong>
          </p>
          <p>
            Alessandro Argenziano<br />
            Hamidou Diallo<br />
            Kirchstraße 2<br />
            79801 Hohentengen a.H.<br />
            Deutschland
          </p>
        </div>
      </div>

      <div class="flex flex-col gap-5 text-base md:text-lg">
        <h2
          class="text-[#444DF2] font-bold"
          [ngClass]="{ 'text-[32px]': !isMobile, 'text-[28px]': isMobile }"
        >
          Kontakt:
        </h2>
        <p>
          E-Mail:
          <a
            href="mailto:contact@alessandro-argenziano.com"
            class="text-blue-600 hover:underline hover:font-semibold transition-all duration-100"
            >contact&#64;alessandro-argenziano.com</a
          ><br />
          E-Mail:
          <a
            href="mailto:Hamidou-diallo@gmx.de"
            class="text-blue-600 hover:underline hover:font-semibold transition-all duration-100"
            >Hamidou-diallo&#64;gmx.de</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
