input {

    background-color: #edeefe;
}


.footer {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #797EF3;

    a {
        margin-top: 32px;
        padding: 10px 15px;

        &:hover {
            border: #cbcbd1 1px solid;
            color: #3739C8;
        }
    }

}

.logo-container {
    width: 100%;
    max-width: 1920px;
}

@media screen and (max-width: 430px) {
    .logo-container {
        justify-content: center;
    }

    h1 {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
    }

}






.errorMessage, .successMessage {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: red;
    font-size: 24px;
    margin-top: 16px;
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}