input {
  background-color: #edeefe;
}

.footer {
  margin-top: auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #797ef3;

  a {
    margin-top: 32px;
    padding: 10px 15px;

    &:hover {
      border: #cbcbd1 1px solid;
      color: #3739c8;
    }
  }
}

.logo-container {
  width: 100%;
  max-width: 1920px;
}

.errorMessage {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin-top: 16px;

  transform: translateX(100%) translateY(100%);
  animation: slideIn ease-out 1300ms forwards, dissolve ease-out 1300ms forwards;
}

.successMessage {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 50px;
  gap: 10px;
  background-color: #444df2;
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 6px 10px 0px #00000033;

  /* Text styling */
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* Animation properties */
  opacity: 0;
  transform: translateX(100%) translateY(100%);
  animation: slideIn ease-out 1300ms forwards, dissolve ease-out 1300ms forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%) translateY(100%);
  }

  to {
    transform: translateX(0) translateY(0);
  }
}

@keyframes dissolve {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 430px) {
  .logo-container {
    justify-content: center;
  }

  h1 {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }
}
