/* .login-container {

    max-width: 606;
    max-height: 769;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 0px #00000014;
} */

.logo-container {
    max-width: 1920px;
    margin-top: 75px;
}

input {
    background-color: #edeefe;
}

h1 {
    color: #444DF2;
}

.login-btn {
    background-color: #3739C8;

    &:hover {
        background-color: #444DF2;
    }
}

.guest-login-btn {
    color: #444DF2;
    border-color: #444DF2;

    &:hover {
        background-color: #444DF2;
        color: white;
    }
}

.error {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-align: center;
}


.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        flex: 1;
    }

    .footer {
        margin-top: auto;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Figtree', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #797EF3;
       
        a {
            margin-top: 32px;
            padding: 10px 15px;

            &:hover {
                border: #cbcbd1 1px solid;
                color: #3739C8;
            }
        }

    }
}