<!-- header -->
<div class="h-full w-full flex flex-col gap-[15px]">
  <div
    class="flex justify-between items-center"
    [ngClass]="isMobile ? 'w-full' : ' w-[335px]'"
  >
    <h2 class="text-xl font-bold">Mitglieder</h2>
    <button
      (click)="onClose(); $event.stopPropagation()"
      class="w-10 h-10 flex items-center justify-center rounded-full hover:bg-[#ECEEFE] hover:text-[#535AF1] group transition-colors duration-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-black group-hover:text-[#535AF1]"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>

  <!-- list current participants -->
  <ul
    class="flex flex-col gap-[15px]"
    [ngClass]="isMobile ? 'w-full' : ' w-[335px]'"
  >
    <li *ngFor="let uid of group.participants" class="flex items-center gap-3">
      <ng-container *ngIf="participantsMap[uid]; else loading">
        <div
          class="w-max lg:ml-4 lg:mr-[5px] flex items-center gap-4 px-3 lg:px-5 py-1 hover:bg-[#ECEEFE] rounded-[30px] cursor-pointer transition-colors duration-200"
          (click)="
            openProfileModal(participantsMap[uid]); $event.stopPropagation()
          "
        >
          <div class="relative w-12 h-12">
            <img
              [src]="participantsMap[uid].avatar"
              [alt]="participantsMap[uid].name"
              class="w-full h-full rounded-full object-cover"
            />
            <div
              class="absolute bottom-0 right-[-2px] w-4 h-4 rounded-full border-2 border-white"
              [style.backgroundColor]="statusMap[uid] ? '#92C83E' : '#686868'"
            ></div>
          </div>
          <div class="flex flex-col">
            <p
              class="text-base transition-colors duration-200 font-normal text-black"
            >
              {{ participantsMap[uid].name }}
              <span *ngIf="uid === currentUserUid">(Du)</span>
            </p>
          </div>
        </div>
      </ng-container>

      <ng-template #loading>
        <div class="flex items-center gap-3 animate-pulse">
          <div class="w-8 h-8 bg-gray-200 rounded-full"></div>
          <div class="h-4 bg-gray-200 rounded w-24"></div>
        </div>
      </ng-template>
    </li>
    <div
      class="lg:px-5 text-center"
      (mouseenter)="isButtonHovered = true"
      (mouseleave)="isButtonHovered = false"
    >
      <button
        class="flex items-center gap-4 px-5 py-3 rounded-full hover:bg-[#ECEEFE] hover:text-[#535AF1]"
        (click)="onAddMembers(); $event.stopPropagation()"
      >
        <img
          [src]="
            isButtonHovered
              ? '../../../assets/img/icons/add_members_purple.png'
              : '../../../assets/img/icons/add_members.png'
          "
          class="w-12 h-12"
        />
        Mitglieder hinzufügen
      </button>
    </div>
  </ul>
</div>
