<div class="px-[20px] py-[30px] flex flex-col gap-6 h-full w-full">
  <div
    class="flex-none hidden lg:flex items-center w-full justify-between rounded-3xl"
  >
    <div
      class="flex items-center gap-4 rounded-full pr-5 cursor-pointer hover:bg-[#ECEEFE]"
    >
      <img src="assets/img/workspace-logo.png" alt="Image" />
      <h2 class="font-bold text-xl w-full">Devspace</h2>
    </div>
    <button
      class="p-2 rounded-[20px] hover:bg-[#ECEEFE] transition-colors duration-200"
      (mouseenter)="editSquareHovered = true"
      (mouseleave)="editSquareHovered = false"
    >
      <img
        [src]="
          editSquareHovered
            ? 'assets/img/icons/edit_square_purple.png'
            : 'assets/img/icons/edit_square.png'
        "
        alt="new chat"
        class="cursor-pointer"
        (click)="onEditClick(); $event.stopPropagation()"
      />
    </button>
  </div>

  <div
    class="flex-none w-full flex lg:hidden items-center justify-between rounded-3xl"
  >
    <app-searchbar
      (userSelected)="openPrivateChat($event)"
      (groupSelected)="openGroupChat($event)"
      [currentUserUid]="currentUserUid"
      class="w-full items-center flex"
    ></app-searchbar>
  </div>

  <div class="flex-1 overflow-y-auto flex flex-col">
    <div class="flex justify-between items-center">
      <div
        class="w-fit flex items-center gap-[15px] pr-3 py-1 cursor-pointer select-none hover:text-[#535AF1]"
        (click)="toggleChannelsDropdown()"
        (mouseenter)="channelsAccountHover = channelsArrowHover = true"
        (mouseleave)="channelsAccountHover = channelsArrowHover = false"
      >
        <img
          [src]="channelsArrowSrc"
          alt="Toggle"
          class="cursor-pointer transform transition-transform duration-200"
          [ngClass]="{
            '-rotate-90': !channelsDropdownOpen,
            'scale-105': channelsArrowHover,
            'hidden xl:flex': !isMobile
          }"
        />
        <div class="flex items-center gap-2">
          <img [src]="channelsAccountSrc" alt="Workspace icon" />
          <h3 class="font-semibold text-[18px]">Channels</h3>
        </div>
      </div>
      <button
        class="w-[30px] h-[30px] rounded-full transition-colors flex justify-center items-center hover:bg-[#F0EDFF] mr-1"
        (mouseenter)="addChannelHover = true"
        (mouseleave)="addChannelHover = false"
        (click)="openAddGroupModal()"
      >
        <img
          [src]="
            addChannelHover
              ? 'assets/img/icons/add_purple.png'
              : 'assets/img/icons/add.png'
          "
          alt="Add"
        />
      </button>
    </div>

    <app-create-group-modal
      *ngIf="showAddGroupModal"
      (close)="closeAddGroupModal()"
    ></app-create-group-modal>

    <div
      class="transition-all duration-300 ease-in-out mb-3 mt-3"
      [ngClass]="
        channelsDropdownOpen
          ? 'max-h-[100%] opacity-1'
          : 'max-h-0 opacity-0 pointer-events-none'
      "
    >
      <div class="flex flex-col gap-3">
        <div
          *ngFor="let g of groups"
          (click)="onGroupClick(g)"
          (mouseenter)="hoveredGroupId = g.id"
          (mouseleave)="hoveredGroupId = null"
          class="flex items-center gap-2 w-max rounded-2xl py-1 px-5 cursor-pointer transition-colors duration-200"
          [ngClass]="{
            'bg-[#ECEEFE]': selectedGroupId === g.id,
            'hover:bg-[#E0E2FF]': selectedGroupId !== g.id,
            'ml-0 xl:ml-[25px]': !isMobile,
            'ml-[25px]': isMobile
          }"
        >
          <img
            [src]="
              selectedGroupId === g.id
                ? 'assets/img/icons/tag_purple.png'
                : hoveredGroupId === g.id
                ? 'assets/img/icons/tag_hover.png'
                : 'assets/img/icons/tag.png'
            "
            alt="group icon"
          />
          <p
            class="text-base transition-colors duration-200"
            [ngClass]="{
              'font-bold text-[#535AF1]': g.id === selectedGroupId,
              'font-normal text-black': g.id !== selectedGroupId
            }"
          >
            {{ g.name }}
          </p>
        </div>
        <div
          class="w-max flex gap-2 rounded-2xl py-1 cursor-pointer hover:text-[#535AF1] transition-colors"
          [ngClass]="{
            'ml-0 xl:ml-[25px] xl:px-5': !isMobile,
            'ml-[25px] px-5': isMobile
          }"
          (click)="openAddGroupModal()"
          (mouseenter)="addChannelHover2 = true"
          (mouseleave)="addChannelHover2 = false"
        >
          <img
            [src]="
              addChannelHover2
                ? 'assets/img/icons/add_circle_purple.png'
                : 'assets/img/icons/add_circle.png'
            "
            alt="add channel"
          />
          <span>Channel hinzufügen</span>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-col flex-1 gap-6">
      <div
        class="w-fit flex items-center gap-[15px] pr-3 py-1 cursor-pointer select-none hover:text-[#535AF1]"
        (click)="toggleDirektDropdown()"
        (mouseenter)="direktAccountHover = direktArrowHover = true"
        (mouseleave)="direktAccountHover = direktArrowHover = false"
      >
        <img
          [src]="direktArrowSrc"
          alt="Toggle"
          class="cursor-pointer transform transition-transform duration-200"
          [ngClass]="{
            '-rotate-90': !direktDropdownOpen,
            'scale-105': direktArrowHover,
            'hidden xl:flex': !isMobile
          }"
        />

        <div class="flex items-center gap-2">
          <img [src]="direktAccountSrc" alt="Users icon" />
          <h3 class="font-semibold text-[18px]">Direktnachrichten</h3>
        </div>
      </div>

      <div
        class="transition-all duration-300 ease-in-out overflow-x-hidden"
        [ngClass]="
          direktDropdownOpen
            ? 'max-h-[100%] opacity-1'
            : 'max-h-0 opacity-0 pointer-events-none overflow-hidden'
        "
      >
        <div class="flex flex-col gap-3">
          <div
            *ngFor="let user of users"
            (click)="onClick(user)"
            class="w-full break-words xl:w-max mr-[5px] flex items-center py-1 hover:bg-[#ECEEFE] rounded-[30px] cursor-pointer transition-colors duration-200"
            [ngClass]="{
              'bg-[#ECEEFE]': user.uid === selectedUserUid,
              'hover:bg-[#ECEEFE]': user.uid !== selectedUserUid,
              'ml-0 xl:ml-4 gap-3 xl:gap-4 px-4 xl:px-5': !isMobile,
              'ml-4 gap-4 px-5': isMobile
            }"
          >
            <div class="relative w-12 h-12">
              <img
                [src]="user.avatar || 'assets/img/profile.svg'"
                alt="User"
                class="w-full h-full rounded-full object-cover"
              />
              <div
                class="absolute bottom-0 right-[-2px] w-4 h-4 rounded-full border-2 border-white"
                [style.background-color]="user.online ? '#92C83E' : '#686868'"
              ></div>
            </div>
            <p
              class="text-base transition-colors duration-200"
              [ngClass]="{
                'font-bold text-[#535AF1]': user.uid === selectedUserUid,
                'font-normal text-black': user.uid !== selectedUserUid
              }"
            >
              {{ user.name }}
              <span *ngIf="user.uid === currentUserUid">(Du)</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="screenWidth < 1024"
    class="fixed bottom-10 right-8 z-40 cursor-pointer"
    (click)="onEditClick(); $event.stopPropagation()"
  >
    <img
      src="assets/img/icons/mobile_edit_square.png"
      alt="Edit"
      class="w-16 h-16"
    />
  </div>
</div>
