<!-- Thread header -->
<div class="w-full h-full flex flex-col">
  <div
    class="w-full flex justify-between items-center shadow-[0px_2px_10px_0px_#00000014]"
    [ngClass]="
      screenWidth > 1024
        ? 'px-[45px] pt-[28px] pb-[16px] rounded-t-[32px]'
        : 'py-[10px] px-[16px]'
    "
  >
    <div class="flex gap-1 items-center">
      <p class="text-xl font-bold mr-1">Thread</p>
      <p
        class="text-sm font-normal text-[#797EF3]"
        *ngIf="group$ | async as group"
      >
        <strong>#</strong> {{ group.name }}
      </p>
    </div>
    <button
      class="w-10 h-10 flex items-center justify-center rounded-full hover:bg-[#ECEEFE] hover:text-[#535AF1] group"
      (click)="onClose()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-black group-hover:text-[#535AF1]"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>

  <!-- Thread message -->
  <div
    class="flex items-start my-2 py-4"
    [ngClass]="{
      'gap-[10px] px-[16px] ': isMobile,
      'gap-[15px] px-[40px] ': !isMobile
    }"
  >
    <ng-container *ngIf="originalMessage$ | async as msg">
      <ng-container *ngIf="participantsMap[msg.sender] as user">
        <img
          [src]="user.avatar"
          class="w-[50px] h-[50px] rounded-full"
          [alt]="user.name"
        />
        <div class="flex flex-col max-w-[80%] gap-1">
          <div class="flex items-center gap-5">
            <span class="font-bold text-base"> {{ user.name }}</span>
            <span class="text-[#686868] font-normal text-xs">
              {{ msg.createdAt?.toDate() | date : "HH:mm" }} Uhr</span
            >
          </div>
          <div
            class="p-[15px] max-w-max text-wrap text-base transition-colors duration-200 bg-[#ECEEFE] text-black rounded-b-[30px] rounded-tr-[30px] group-hover:bg-white"
          >
            {{ msg.text }}
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- Separator -->
  <ng-container *ngIf="threadMessages$ | async as replies">
    <div *ngIf="replies.length > 1" class="px-[40px]">
      <div class="flex items-center">
        <span class="text-base text-[#ADB0D9] whitespace-nowrap">
          {{ replies.length }} Antworten
        </span>
        <div class="flex-grow h-px bg-[#ADB0D9] ml-5"></div>
      </div>
    </div>
    <div *ngIf="replies.length === 1" class="px-[40px] py-4">
      <div class="flex items-center">
        <span class="text-base text-[#ADB0D9] whitespace-nowrap">
          {{ replies.length }} Antwort
        </span>
        <div class="flex-grow h-px bg-[#ADB0D9] ml-5"></div>
      </div>
    </div>
  </ng-container>

  <!-- Answers -->
  <div
    #threadContainer
    class="space-y-3 overflow-y-auto overflow-x-hidden h-[65vh]"
  >
    <ng-container *ngFor="let msg of threadMessages$ | async">
      <ng-container *ngIf="participantsMap[msg.sender] as user">
        <div
          class="relative w-full group flex mt-5 py-3 pt-2 transition-colors duration-200 hover:bg-[#ECEEFE]"
          [ngClass]="{
            'justify-end': msg.sender === currentUserUid,
            'items-start': msg.sender !== currentUserUid,
            'gap-[10px] px-[16px]': isMobile,
            'gap-[30px] px-[45px]': !isMobile
          }"
          [style.backgroundColor]="editingMsgId === msg.id ? '#ECEEFE' : null"
        >
          <!-- EDIT MODE -->
          <ng-container *ngIf="editingMsgId === msg.id; else threadReadOnly">
            <app-chat-message-edit
              *ngIf="editingMsgId === msg.id"
              [msg]="msg"
              [currentUserUid]="currentUserUid"
              [(editText)]="editText"
              (cancel)="cancelEdit()"
              (save)="saveEdit(msg)"
              class="w-full"
            ></app-chat-message-edit>
          </ng-container>

          <!-- READ-ONLY MODE -->
          <ng-template #threadReadOnly>
            <!-- avatar on left for others -->
            <img
              *ngIf="msg.sender !== currentUserUid"
              [src]="user.avatar"
              [alt]="user.name"
              class="w-[50px] h-[50px] rounded-full"
            />

            <div
              class="picker-container flex flex-col gap-1 cursor-default"
              [ngClass]="{
                'items-end': msg.sender === currentUserUid,
                'items-start': msg.sender !== currentUserUid
              }"
            >
              <!-- name & time -->
              <div
                class="flex items-center gap-5"
                [ngClass]="{
                  'flex-row-reverse': msg.sender === currentUserUid
                }"
              >
                <span
                  class="font-bold cursor-pointer hover:text-[#535AF1]"
                  [ngClass]="isMobile ? 'text-base' : 'text-lg'"
                >
                  {{ user.name }}
                </span>
                <span
                  class="text-[#686868] font-normal"
                  [ngClass]="isMobile ? 'text-xs' : 'text-sm'"
                >
                  {{ msg.createdAt?.toDate() | date : "HH:mm" }} Uhr
                </span>
              </div>

              <!-- message bubble -->
              <div
                class="p-[15px] text-sm lg:text-base cursor-default transition-colors duration-200"
                [ngClass]="
                  msg.sender === currentUserUid
                    ? 'bg-[#797EF3] text-white rounded-b-[30px] rounded-tl-[30px]'
                    : 'bg-[#ECEEFE] text-black rounded-b-[30px] rounded-tr-[30px] group-hover:bg-white'
                "
              >
                {{ msg.text }}
              </div>

              <!-- reactions bar -->
              <app-reaction-bar
                #bar
                [msg]="msg"
                [currentUserUid]="currentUserUid"
                [participantsMap]="participantsMap"
                [groupId]="groupId"
                [parentMessageId]="messageId"
                [maxVisible]="3"
                [inThread]="true"
              ></app-reaction-bar>

              <!-- hover menus -->
              <app-hover-menu
                [msg]="msg"
                [currentUserUid]="currentUserUid"
                [showThreadButton]="false"
                [showQuickButtons]="false"
                (quickReaction)="onQuickThreadReaction(msg, $event)"
                (togglePicker)="bar.togglePicker()"
                (toggleOptions)="toggleOptions(msg.id!, $event)"
                (openEdit)="openEditFromOptions(msg, $event)"
              ></app-hover-menu>
            </div>
          </ng-template>

          <!-- avatar on right for own messages -->
          <img
            *ngIf="msg.sender === currentUserUid"
            [src]="user.avatar"
            [alt]="user.name"
            class="w-[50px] h-[50px] rounded-full"
          />
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- Input Field -->
  <app-chat-input
    [(newMessage)]="threadText"
    [currentGroup]="group$ | async"
    [currentUserUid]="currentUserUid"
    [groupId]="groupId"
    [isNewMessage]="isNewMessage"
    [allUsers]="allUsers"
    [allGroups]="allGroups"
    [statusMap]="statusMap"
    [participantsMap]="participantsMap"
    (sendPressed)="sendThread()"
  ></app-chat-input>
</div>
