<div class="w-full flex flex-col gap-6 px-[45px]">
  <div
    class="flex gap-2 items-end cursor-pointer w-max"
    (click)="openSettings.emit()"
  >
    <img
      src="../../../assets/img/icons/tag.png"
      [alt]="group.name"
      class="h-[32px] w-[31px]"
    />
    <p class="h-max font-bold text-2xl hover:text-[#535AF1]">
      {{ group.name }}
    </p>
  </div>
  <p class="text-[#686868] font-normal text-xl whitespace-normal">
    {{ participantsMap[group.creator].name }} hat diesen Channel am
    {{ group.createdAt.toDate() | date : "longDate" : "" : "de-DE" }}
    erstellt. Das ist der Anfang des Channels
    <span
      class="text-[#535AF1] cursor-pointer hover:font-semibold"
      (click)="openSettings.emit()"
    >
      # {{ group.name }} </span
    >.
  </p>
</div>
