.successMessage {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: #444df2;

  opacity: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;

  // After delay
  animation-delay: 1300ms;
  // Navigate to: "05-Reset password";
  // Animate: Dissolve;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: #f24444;

  opacity: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 50px;
  gap: 28px;
}

@media screen and (max-width: 430px) {
  h1 {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }
}
