<div
  class="login-page container mx-auto p-5 flex flex-col items-center justify-center min-h-screen"
>
  <header
    class="logo-container flex items-center w-full max-w-[1920px]"
    [ngClass]="{
      'mt-[75px] justify-between medShort:mt-[20px]': !isMobile,
      'justify-center mt-20px': isMobile
    }"
  >
    <div class="logo flex items-center gap-2">
      <img src="assets/img/logo.svg" alt="DABubble Logo" class="w-16 h-auto" />
      <p class="text-2xl font-bold">DABubble</p>
    </div>
  </header>

  <div
    class="login-container container mx-auto md:px-8 md:py-10 flex flex-col items-center justify-center bg-white rounded-[30px] shadow-[0px_2px_10px_0px_#00000014] w-full max-w-[698px] mt-8"
    [ngClass]="{ 'p-8': !isMobile, 'px-2 py-3': isMobile }"
  >
    <div
      class="relative flex flex-col items-center"
      [ngClass]="{
        'gap-8 w-[90%] mb-10': !isMobile,
        'gap-1 w-full mb-5': isMobile
      }"
    >
      <a
        routerLink="/login"
        class="absolute"
        [ngClass]="{
          '-left-3 top-[16px]': !isMobile,
          'left-3 top-2': isMobile
        }"
        (mouseenter)="arrowHover = true"
        (mouseleave)="arrowHover = false"
      >
        <img
          [src]="
            arrowHover
              ? 'assets/img/arrow_back_purple.svg'
              : 'assets/img/arrow_back_large.svg'
          "
          alt="Back"
          [ngClass]="{ 'w-10 h-10': !isMobile, 'w-8 h-8': isMobile }"
        />
      </a>
      <h1
        class="text-[#444DF2] font-bold text-center"
        [ngClass]="{ 'text-[46px]': !isMobile, 'text-[32px]': isMobile }"
      >
        Passwort zurücksetzen
      </h1>
      <p
        class="text-center"
        [ngClass]="{ 'px-7 text-xl': !isMobile, 'text-base': isMobile }"
      >
        Bitte geben Sie Ihre E-Mail-Adresse ein.
      </p>
    </div>

    <form
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
      class="flex justify-center flex-col gap-4 w-[90%] sm:w-[70%]"
    >
      <!-- Email Field -->
      <div class="form-group">
        <div
          class="input-container flex items-center rounded-full w-full p-4 bg-[#edeefe] border border-transparent hover:border-[#686868] focus-within:border-[#535AF1] focus-within:hover:border-[#444DF2] transition-colors duration-200"
        >
          <img
            src="assets/img/mail.svg"
            alt="Email"
            class="w-5 h-5"
            [ngClass]="{ 'ml-5 mr-7': !isMobile, 'ml-3 mr-5': isMobile }"
          />
          <input
            class="w-full bg-[#edeefe] focus:outline-none placeholder:text-[#686868]"
            [ngClass]="{ 'text-lg': !isMobile, 'text-base': isMobile }"
            type="email"
            formControlName="email"
            [placeholder]="
              !isMobile ? 'beispielname@email.com' : 'beispiel@email.com'
            "
          />
        </div>

        <div
          class="error-messages h-6 p-2"
          [ngClass]="{ 'text-base': !isMobile, 'text-sm': isMobile }"
        >
          <p
            *ngIf="
              resetForm.get('email')?.hasError('required') &&
              resetForm.get('email')?.touched
            "
            class="text-[#ED1E79]"
          >
            *Geben Sie eine E-Mail ein.
          </p>
          <p
            *ngIf="
              resetForm.get('email')?.hasError('pattern') &&
              resetForm.get('email')?.touched
            "
            class="text-[#ED1E79]"
          >
            *Diese E-Mail ist leider ungültig.
          </p>
          <p
            *ngIf="
              resetForm.get('email')?.hasError('emailNotFound') &&
              resetForm.get('email')?.touched
            "
            class="text-[#ED1E79]"
          >
            *Diese E-Mail ist nicht registriert.
          </p>
        </div>
      </div>

      <p
        class="text-[#686868] text-center"
        [ngClass]="{ 'text-lg': isMobile, 'text-xl': !isMobile }"
      >
        Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
      </p>

      <!-- Error Message -->
      <div
        *ngIf="errorMessage"
        class="errorMessage text-red-500 flex justify-center items-center fixed p-8 border-x-4 -translate-x-1/2"
      >
        {{ errorMessage }}
      </div>

      <!-- Success Message -->
      <div
        *ngIf="successMessage"
        class="successMessage flex justify-center items-center fixed bottom-6 right-2 p-8 border-x-4 -translate-x-1/2"
      >
        <span class="successMessage flex justify-center items-center">
          <img
            *ngIf="successMessage"
            src="assets/img/send-success.svg"
            alt="Success"
            class="w-5 h-5 inline-block mr-2"
          />
          <p class="text-nowrap text-white">{{ successMessage }}</p>
        </span>
      </div>

      <!-- Action Buttons  -->
      <div class="flex justify-end items-center gap-4 w-full mt-4">
        <button
          type="submit"
          [disabled]="resetForm.invalid || loading"
          class="senden-email-btn bg-[#444DF2] text-lg font-bold text-white py-3 px-6 rounded-full disabled:bg-[#686868] disabled:cursor-default hover:bg-[#797EF3]"
        >
          <span *ngIf="!loading">E-Mail senden</span>
          <span *ngIf="loading">Wird gesendet...</span>
        </button>
      </div>
    </form>
  </div>

  <!-- Footer Links -->
  <footer class="footer flex justify-center items-center gap-4 mt-auto mb-2">
    <a
      routerLink="/impressum"
      class="mt-8 px-[15px] py-[10px] text-[18px] font-medium border border-transparent text-[#797EF3] rounded-[30px] hover:border hover:border-[#ADB0D9] hover:text-[#444DF2] transition-colors duration-200"
    >
      Impressum
    </a>
    <a
      routerLink="/privacy-policy"
      class="mt-8 px-[15px] py-[10px] text-[18px] font-medium border border-transparent text-[#797EF3] rounded-[30px] hover:border hover:border-[#ADB0D9] hover:text-[#444DF2] transition-colors duration-200"
    >
      Datenschutz</a
    >
  </footer>
</div>
