@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #edeefe;
}

emoji-picker {
  --background: white;
  --border-color: #eceefe;
  --border-size: 2px;
  --border-radius: 30px;
  --button-hover-background: #eceefe;
  --emoji-padding: 12px;
}

emoji-picker,
emoji-picker * {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db white;
}

emoji-picker ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

emoji-picker ::-webkit-scrollbar-track {
  background: white;
  border-radius: 30px;
}

emoji-picker ::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 30px;
  border: 2px solid white;
}

@media (max-width: 640px) {
  emoji-picker {
    width: 260px;
    height: 250px;
    --emoji-size: 1rem;
    --emoji-padding: 0.5rem;
    --num-columns: 6;
  }
}

::view-transition-group(app-logo) {
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

::view-transition-old(app-logo),
::view-transition-new(app-logo) {
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}
