<div
  class="flex flex-col w-full bg-white border border-[#ECEFFE] rounded-[24px] px-[20px] py-[16px]"
  [ngClass]="{
    'self-end': msg.sender === currentUserUid,
    'self-start': msg.sender !== currentUserUid
  }"
>
  <textarea
    #editInput
    class="w-full resize-none bg-transparent mb-2 placeholder-[#686868] text-base leading-relaxed outline-none"
    [(ngModel)]="editText"
    placeholder="{{ msg.text }}"
    rows="1"
    (input)="autoGrow()"
  ></textarea>

  <div class="flex items-center justify-between mt-2">
    <div class="picker-container relative inline-block self-start">
      <button
        class="p-2 hover:bg-[#ECEEFE] rounded-full"
        (click)="togglePicker(); $event.stopPropagation()"
        [ngClass]="{ hidden: isMobile }"
      >
        <img
          src="../../../assets/img/icons/add_reaction.png"
          alt="Emoji"
          class="w-6 h-6"
        />
      </button>
      <div *ngIf="showPicker" class="absolute bottom-full left-0 z-50">
        <emoji-picker (emoji-click)="onEmoji($event)"></emoji-picker>
      </div>
    </div>

    <div class="flex gap-2">
      <button
        class="px-4 py-2 border border-[#444DF2] text-[#444DF2] rounded-full hover:bg-[#535AF1] hover:text-white transition"
        (click)="cancel.emit()"
      >
        Abbrechen
      </button>
      <button
        class="px-4 py-2 bg-[#444DF2] text-white rounded-full hover:bg-[#797EF3] transition"
        (click)="save.emit()"
      >
        Speichern
      </button>
    </div>
  </div>
</div>
